flow/canvas-rectangle-node.json
[
    {
        "id": "4990a1e9.fd15a",
        "type": "tab",
        "label": "Canvas Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "585e582b.a345c8",
        "type": "inject",
        "z": "4990a1e9.fd15a",
        "name": "Start",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "da6ae381.cf60e"
            ]
        ]
    },
    {
        "id": "da6ae381.cf60e",
        "type": "canvas-rectangle-node",
        "z": "4990a1e9.fd15a",
        "name": "",
        "imagePath": "",
        "width": "100",
        "height": "100",
        "offset_x": "50",
        "offset_y": "50",
        "title": "Hello World",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "69dc72e0.003b7c"
            ]
        ]
    },
    {
        "id": "69dc72e0.003b7c",
        "type": "ui_template",
        "z": "4990a1e9.fd15a",
        "group": "e21c7a6a.91b268",
        "name": "Image",
        "order": 1,
        "width": "12",
        "height": "9",
        "format": "<div height=\"210\" style=\"height: 210px;\">\n<img ng-src=\"data:image/png;base64,{{msg.payload}}\" width=\"600\">\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 510,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e21c7a6a.91b268",
        "type": "ui_group",
        "z": "",
        "name": "rectangle",
        "tab": "d9cfd36a.c212e",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "d9cfd36a.c212e",
        "type": "ui_tab",
        "z": "",
        "name": "Canvas",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]